@{
    ViewData["Title"] = "Find Help";
}
<h1>@ViewData["Title"]</h1>

<div class="mx-auto text-center">
    <p>You have Problem with appointment?</p>

    <img src="~/images/here.jpg" />

    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Contact">Contact Nurse</a>
</div>