@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pet's Happiness Clinic</h1>
    <div class="w-100">
    <img src="~/images/logo.jpg" alt="Pet's Happiness Clinic" />
        <div class="d-flex text-center justify-content-center gap-2 mt-5">
            <p>
                <a class="btn btn-primary btn-lg text-black" href="~/Identity/Account/Login">Login</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg text-black" href="~/Identity/Account/Register">Register</a>
            </p>    
        </div>
    </div>
</div>
